includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app
        - config
        - database
        - routes

    level: 5

    checkMissingIterableValueType: false

    # IDE Helper 파일 스캔
    scanFiles:
        - _ide_helper.php
        - _ide_helper_models.php
        - .phpstorm.meta.php

    excludePaths:
        - bootstrap/cache/*
        - storage/*